langchain==0.0.144
PyPDF2==3.0.1
streamlit==1.21.0
openai==0.27.0
faiss-cpu==1.7.3
tiktoken==0.3.1
scikit-learn==1.2.2
cohere==4.37
huggingface_hub==0.19.3
sentence_transformers==2.2.2
transformers==4.39.2
pytesseract==0.3.10
tesseract-ocr==0.0.1
opencv-python-headless==4.9.0.80
